.title {
  color: black;
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  margin: 0 0 0.5em 8px;
}

.navbar {
  display: inline-flex;
  margin: 0 0 0 10px;
}

button {
  text-decoration: none;
  color: black;
  font-size: 12pt;
  font-family: 'Fira Mono', monospace;
  border: 1px solid lightsteelblue;
  padding: 5px;

  background-color: transparent;
  margin: 0 6px 0 0;
}

button:hover {
  background-color: steelblue;
  color: white;
  cursor: pointer;
}

.city {
  text-decoration: underline;
}

.selected button {
  background-color: white;
}
