.weatherBox {
  margin: 3em 0;
  width: 80%;

  display: flex;
}

.forecast {
  padding: 0px 10px;
  margin: 10px;
  min-width: 150px;
  max-width: 150px;
  border: 1px solid lightsteelblue;
  border-radius: 5px;
}

.forecast:hover {
  background-color: white;
}

.flavourText {
  font-size: 12px;
}

.dayOfTheWeek {
}

.timeOfDay {
  min-height: 4em;
  font-size: 0.8em;
}

#around {
  font-size: 0.7em;
  color: rgb(113, 133, 190);
  vertical-align: text-bottom;
}

.degrees {
  font-weight: bold;
}
